

.content-wrapper {
  padding-top: 30px;
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}


.content-cards {
  padding: 30px;
  grid-area: 1 / 3 / 6 / 6;
  background-color: #ededed;
}

.content-info {
  padding: 30px;
  grid-area: 1 / 1 / 6 / 3;
  background-color: #c9c9c9;

  .text {
  padding: 10px;
  font-family: helvetica;
}
}


